#root {
  margin-left: 33%;
  margin-right: 33%;
}

.body-text {
  font-family: AvenirNext-Regular, serif;
  font-size: 14px;
  margin: auto;
  text-align: center;
}

#operational-text {
  font-family: AvenirNext-Regular, serif;
  font-size: 16px;
}

#page-one-footer {
  font-family: AvenirNext-Regular, serif;
  font-size: 14px;
  margin: auto;
  text-align: center;
}

.bold-text {
  font-weight: bold;
}

#distance-covered {
  font-family: AvenirNext-Regular, serif;
  font-size: 16px;
  text-align: center;
  margin: auto;
}